html.dark {
  --container-background-image: url("https://cdn.glitch.global/f314574e-92fa-4a70-b3ec-f94c4bb038fc/endless-constellation-dark.svg?v=1702073310062");
  --background-size: auto;
}

html:not(.dark) {
  --container-background-image: url("https://cdn.glitch.global/f314574e-92fa-4a70-b3ec-f94c4bb038fc/radiant-gradient.svg?v=1702075042421");
  --background-size: cover;
}

.background {
  background-image: var(--container-background-image);
  background-size: var(--background-size);
  background-color: #0A0A0A;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  
  @media print {
    .background  {
      background-color: white;
    }
  }
}